<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <description>Spring公共配置</description>
    <!--开启注解 -->
    <context:annotation-config />
    <!-- 开启自动切面代理 -->
    <aop:aspectj-autoproxy />
    <context:component-scan base-package="com.zzh">
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    </context:component-scan>

    <!-- #################################################################### -->
    <!-- # 装载属性占位符配置 -->
    <!-- #################################################################### -->
    <context:property-placeholder properties-ref="customProperties" />
    <bean id="customProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:ignoreResourceNotFound="true" p:localOverride="true">
        <property name="locations">
            <!-- 禁止调整加载顺序(注：系统以list最后一个有效的value元素为准) -->
            <list>
                <!-- 标准配置-->
                <value>classpath*:application-core.properties</value>
                <!-- 正式环境配置路径 -->
                <value>file:/data/config/bh-report/application.properties</value>
            </list>
        </property>
    </bean>


    <import resource="classpath:spring/spring-mybatis.xml"/>
    <import resource="classpath:spring/spring-redis.xml"/>
    <import resource="classpath:spring/spring-session.xml"/>

</beans>